@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


$black: #212121;
$white: #ffffff;

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: grey;
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  
  .navbar {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
    padding: 0px 75px 0px 75px;
    transition: 0.8s;

    .brand {
      a {
        float: left;
        display: block;
        color: $white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
      }
    }

    .items {
      a {
        float: left;
        display: block;
        color: $white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        cursor: pointer;
      }

      :hover {
        font-weight: bold;
      }

      .active {
        background-color: #04aa6d;
        color: $white
      }

      .icon {
        display: none;
      }
    }

    @media screen and (max-width: 600px) {
      .responsive {
        position: relative;

        a {
          float: none;
          display: block;
          text-align: left;
        }

        .icon {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }

    @media screen and (max-width: 600px) {
      padding: 0;

      .items {
        a {
          display: none;
        }

        .icon {
          float: right;
          display: block;
        }
      }
    }
  }

  .scrolled {
    height: 75px;
    background-color: $white;
    transition: 0.8s;

    .brand, .items {
      a {
        color: $black;
      }

      .icon {
        color: $black;
      }
    }
  }
}

.login {
  background-color: $black;
  color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .container {
    background-color: $white;
    border-radius: 5px;
    padding: 25px 50px 25px 50px;
    width: 35%;

    .title {
      margin-bottom: 40px;

      h1 {
        font-size: 32px;
        margin-bottom: 5px;
      }

      p {
        font-size: 14px;
      }
    }

    .body {
      
    }
  }
}

.form, content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;

  input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: inherit;
  }

  label {
    text-align: left;
    display: block;
    margin: 0 0 5px 3px;
  }
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: scale(0.98);
  }
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn-logout {
  background-color: none;
  border: none;
}


.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}