@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  height: 100vh;
  background-color: #212121;
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
}
.nav .navbar {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  overflow: hidden;
  padding: 0px 75px;
  transition: 0.8s;
}
.nav .navbar .brand a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.nav .navbar .items a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}
.nav .navbar .items :hover {
  font-weight: bold;
}
.nav .navbar .items .active {
  background-color: #04aa6d;
  color: #ffffff;
}
.nav .navbar .items .icon {
  display: none;
}
@media screen and (max-width: 600px) {
  .nav .navbar .responsive {
    position: relative;
  }
  .nav .navbar .responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .nav .navbar .responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media screen and (max-width: 600px) {
  .nav .navbar {
    padding: 0;
  }
  .nav .navbar .items a {
    display: none;
  }
  .nav .navbar .items .icon {
    float: right;
    display: block;
  }
}
.nav .scrolled {
  height: 75px;
  background-color: #ffffff;
  transition: 0.8s;
}
.nav .scrolled .brand a, .nav .scrolled .items a {
  color: #212121;
}
.nav .scrolled .brand .icon, .nav .scrolled .items .icon {
  color: #212121;
}

.header {
  height: 100vh;
  background-color: #212121;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .container {
  padding: 89px;
}
.header .container .title {
  margin-bottom: 25px;
}
.header .container .title h1 {
  font-weight: 400;
  font-size: 42px;
}
.header .container .title h2 {
  font-weight: 100;
  font-size: 20px;
  color: #00aff0;
}
.header .container .body {
  width: 50%;
  text-align: justify;
  font-weight: 100;
}
.header .container .body b {
  color: #eb2145;
}
@media screen and (max-width: 600px) {
  .header .container {
    padding: 25px;
  }
  .header .container .body {
    width: 100%;
  }
}

.skills {
  background-color: #f1f1f1;
  color: #212121;
}
.skills .container {
  padding: 89px;
}
.skills .container .body {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.skills .container .body .item {
  width: 33.33333%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.skills .container .body .item img {
  width: 120px;
}
.skills .container .body .item h1 {
  margin-bottom: 20px;
}
.skills .container .body .item p {
  font-weight: 100;
  text-align: justify;
  padding: 0 35px;
}
@media screen and (max-width: 600px) {
  .skills {
    height: auto;
  }
  .skills .container {
    padding: 25px;
  }
  .skills .container .body {
    flex-wrap: wrap;
  }
  .skills .container .body .item {
    width: 100%;
    margin-bottom: 30px;
  }
}

.stacks {
  background-color: #212121;
  color: #ffffff;
}
.stacks .container {
  padding: 25px 89px;
}
.stacks .container .body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stacks .container .body .stack {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}
.stacks .container .body .stack .description {
  width: 20%;
}
.stacks .container .body .stack .description h1 {
  font-weight: 100;
  font-size: 16px;
}
.stacks .container .body .stack .technologies {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.stacks .container .body .stack .technologies .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}
.stacks .container .body .stack .technologies .item img {
  width: 50px;
  margin-bottom: 5px;
}
.stacks .container .body .stack .technologies .item label {
  font-size: 12px;
}
@media screen and (max-width: 600px) {
  .stacks .container {
    padding: 25px;
  }
  .stacks .container .body .stack {
    flex-wrap: wrap;
  }
  .stacks .container .body .stack .description {
    width: 100%;
    text-align: center;
  }
  .stacks .container .body .stack .description h1 {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .stacks .container .body .stack .description span {
    display: none;
  }
  .stacks .container .body .stack .technologies {
    width: 100%;
    justify-content: center;
  }
}

.background {
  background-color: #f1f1f1;
  color: #212121;
}
.background .container {
  padding: 0px;
}
.background .container .body {
  display: flex;
  flex-direction: row;
}
.background .container .body .photo {
  width: 50%;
}
.background .container .body .photo img {
  display: block;
  width: 100%;
}
.background .container .body .story {
  width: 50%;
  position: relative;
}
.background .container .body .story .item {
  width: 100%;
  padding: 89px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.background .container .body .story .item .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.background .container .body .story .item .title h1 {
  text-align: center;
}
.background .container .body .story .item .title p {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 30px;
}
.background .container .body .story .item .title i {
  font-weight: 100;
  font-size: 14px;
}
.background .container .body .story .controllers {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.background .container .body .story .controllers button {
  background: none;
  border: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  font-size: 42px;
}
.background .container .body .story .controllers button:hover {
  transform: scale(0.8);
}
@media screen and (max-width: 600px) {
  .background .container .body {
    flex-wrap: wrap;
  }
  .background .container .body .photo {
    width: 100%;
  }
  .background .container .body .story {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100vw;
    color: black;
  }
  .background .container .body .story .item {
    padding: 25px 10px;
  }
  .background .container .body .story .item .title h1 {
    font-size: 18px;
  }
  .background .container .body .story .item .title p, .background .container .body .story .item .title i {
    font-size: 12px;
  }
  .background .container .body .story .controllers {
    padding: 5px;
  }
}

.works {
  height: 100vh;
  background-color: #212121;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.contact {
  height: 100vh;
  background-color: #eb2145;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.footer {
  height: 40vh;
  background-color: #212121;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.login {
  background-color: #212121;
  color: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login .container {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 35px 50px 35px 50px;
  width: 35%;
}
.login .container .title {
  margin-bottom: 40px;
}
.login .container .title h1 {
  font-size: 32px;
  margin-bottom: 5px;
}
.login .container .title p {
  font-size: 14px;
}
@media screen and (max-width: 600px) {
  .login .container {
    width: 90%;
  }
}

.form, content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}
.form-group input, .form-group textarea, .form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}
.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn:hover {
  transform: scale(0.98);
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn-logout {
  background-color: none;
  border: none;
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=index.css.map */
