@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


$black: #212121;
$white: #ffffff;
$blue: #00aff0;
$red: #eb2145;
$grey: #f1f1f1;

$containerPadding: 89px;

body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  background-color: $black;
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 99;
  
  .navbar {
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
    padding: 0px 75px;
    transition: 0.8s;

    .brand {
      a {
        float: left;
        display: block;
        color: $white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 20px;
      }
    }

    .items {
      a {
        float: left;
        display: block;
        color: $white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        cursor: pointer;
      }

      :hover {
        font-weight: bold;
      }

      .active {
        background-color: #04aa6d;
        color: $white
      }

      .icon {
        display: none;
      }
    }

    @media screen and (max-width: 600px) {
      .responsive {
        position: relative;

        a {
          float: none;
          display: block;
          text-align: left;
        }

        .icon {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
    }

    @media screen and (max-width: 600px) {
      padding: 0;

      .items {
        a {
          display: none;
        }

        .icon {
          float: right;
          display: block;
        }
      }
    }
  }

  .scrolled {
    height: 75px;
    background-color: $white;
    transition: 0.8s;

    .brand, .items {
      a {
        color: $black;
      }

      .icon {
        color: $black;
      }
    }
  }
}

.header {
  height: 100vh;
  background-color: $black;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .container {
    padding: $containerPadding;

    .title {
      margin-bottom: 25px;

      h1 {
        font-weight: 400;
        font-size: 42px;
      }

      h2 {
        font-weight: 100;
        font-size: 20px;
        color: $blue;
      }
    }

    .body {
      width: 50%;
      text-align: justify;
      font-weight: 100;

      b {
        color: $red;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .container {
      padding: 25px;

      .body {
        width: 100%;
      }
    }
  }
}

.skills {
  background-color: $grey;
  color: $black;

  .container {
    padding: $containerPadding;

    .body {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;

      .item {
        width: 33.33333%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        img {
          width: 120px;
        }

        h1 {
          margin-bottom: 20px;
        }

        p {
          font-weight: 100;
          text-align: justify;
          padding: 0 35px;
        }
      }

    }
  }

  @media screen and (max-width: 600px) {
    height: auto;
    
    .container {
      padding: 25px;
      
      .body {
        flex-wrap: wrap;

        .item {
          width: 100%;
          margin-bottom: 30px;
        }
      }
    }
  }
}

.stacks {
  background-color: $black;
  color: $white;

  .container {
    padding: 25px $containerPadding;

    .body {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .stack {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 20px;

        .description {
          width: 20%;

          h1 {
            font-weight: 100;
            font-size: 16px;
          }
        }

        .technologies {
          width: 80%;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;

          .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 15px;

            img {
              width: 50px;
              margin-bottom: 5px;
            }

            label {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .container {
      padding: 25px;

      .body {
        .stack {
          flex-wrap: wrap;
          
          .description {
            width: 100%;
            text-align: center;

            h1 {
              font-size: 24px;
              font-weight: 600;
              margin-bottom: 20px;
            }

            span {
              display: none;
            }
          }

          .technologies {
            width: 100%;
            justify-content: center;
          }
        }
      }
    }
  }
}

.background {
  background-color: $grey;
  color: $black;

  .container {
    padding: 0px;

    .body {
      display: flex;
      flex-direction: row;

      .photo {
        width: 50%;

        img {
          display: block;
          width: 100%;
        }
      }

      .story {
        width: 50%;
        position: relative;

        .item {
          width: 100%;
          padding: $containerPadding;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .title {
            display: flex;
            flex-direction: column;
            margin-bottom: 25px;
    
            p {
              font-size: 14px;
              font-weight: 100;
              margin-bottom: 30px;
            }

            i {
              font-weight: 100;
              font-size: 14px;
            }

            span {
              font-weight: 100;
              font-size: 12px;
              font-style: italic;
            }
          }

          .context {
            h1 {
              font-size: 20px;
              margin-bottom: 10px;
            }

            span {
              font-weight: 100;
              font-size: 12px;
            }

            ul {
              padding: 0 25px;
            }

            li {
              text-align: justify;
            }
          }
        }

        .controllers {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;
          padding: 15px;

          button {
            background: none;
            border: none;
            cursor: pointer;
            -webkit-tap-highlight-color: transparent;
            outline: none;
            font-size: 42px;

            &:hover {
              transform: scale(0.8);
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .container {
      .body {
        flex-wrap: wrap;

        .photo {
          width: 100%;
        }

        .story {
          position: absolute;
          background-color: rgba(255, 255, 255, 0.75);
          width: 100%;
          height: 100vw;
          color: black;

          .item {
            padding: 25px;

            .title {
              h1 {
                font-size: 18px;
              }

              p, i {
                font-size: 12px;
              }

              span {
                font-size: 10px;
              }
            }

            .context {
              h1 {
                font-size: 14px;
              }

              span {
                font-size: 10px;
              }

              ul {
                padding: 0 12px;
              }

              li {
                font-size: 12px;
              }
            }
          }

          .controllers {
            padding: 0px;

            button {
              font-size: 32px;
            }
          }
        }
      }
    }
  }
}

.works {
  height: 100vh;
  background-color: $black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: $white;
}

.contact {
  height: 100vh;
  background-color: $red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: $white;
}

.footer {
  height: 40vh;
  background-color: $black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: $white;
}

.login {
  background-color: $black;
  color: $black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  .container {
    background-color: $white;
    border-radius: 5px;
    padding: 35px 50px 35px 50px;
    width: 35%;

    .title {
      margin-bottom: 40px;

      h1 {
        font-size: 32px;
        margin-bottom: 5px;
      }

      p {
        font-size: 14px;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .container {
      width: 90%;
    }
  }
}

.form, content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;

  input, textarea, select {
    width: 100%;
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: inherit;
  }

  label {
    text-align: left;
    display: block;
    margin: 0 0 5px 3px;
  }
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    transform: scale(0.98);
  }
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn-logout {
  background-color: none;
  border: none;
}


.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000 transparent #555 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}